---
import { getCollection, type CollectionEntry } from 'astro:content';
import type { GetStaticPaths, Page } from 'astro';

import Link from '../../components/Link.astro';
import Layout from '../../layouts/Layout.astro';
import PostsList from '../../components/PostsList.astro';

export const getStaticPaths: GetStaticPaths = async ({ paginate }) => {
  const posts = await getCollection('blog');

  return paginate(posts, { pageSize: 3 });
};

const page: Page<CollectionEntry<'blog'>> = Astro.props.page;
---

<Layout title='Blog posts'>
  <h1 class='text-heading-1 mt-8'>Blog posts</h1>
  <PostsList posts={page.data} start={page.start + 1} />

  <div class='mt-8 flex justify-center gap-4'>
    <div class='w-24 text-end'>
      {
        page.url.prev && (
          <Link href={page.url.prev} rel='prev'>
            &lt;&lt; Previous
          </Link>
        )
      }
    </div>
    {page.currentPage}
    <div class='w-24 text-start'>
      {
        page.url.next && (
          <Link href={page.url.next} rel='prev'>
            Next &gt;&gt;
          </Link>
        )
      }
    </div>
  </div>
</Layout>
