---
import { Image } from 'astro:assets';

import Layout from '../layouts/Layout.astro';
import lazarsPhoto from '../assets/lazar.jpg';
---

<Layout title='About'>
  <Image
    src={lazarsPhoto}
    alt='A photo of Lazar Nikolov'
    width={512}
    quality='max'
    class='rounded-full'
  />
  <p>
    Hey, I&apos;m <b>Lazar Nikolov</b>. I live in Toronto, Canada, but
    originally I&apos;m from North Macedonia. As a fullstack engineer, I enjoy
    building interesting pet projects from scratch. Of course, just like any
    developer, I end up abandoning them. I&apos;m a super curious fellow and
    I&apos;m always up to learn something new. Aside from learning new things, I
    enjoy live streaming on Twitch and creating courses for egghead.io.
  </p>
</Layout>
