---
import { Image } from 'astro:assets';

import Layout from '../layouts/Layout.astro';
import lazarsPhoto from '../assets/lazar.jpg';
---

<Layout
  seo={{
    title: 'About',
    description: 'Lazar Nikolov is a Developer Advocate from Toronto, Canada.',
  }}
>
  <div class='flex flex-col items-center gap-8 mx-auto mt-12'>
    <Image
      src={lazarsPhoto}
      alt='A photo of Lazar Nikolov'
      width={512}
      quality='max'
      class='w-64 rounded-full'
    />
    <p class='mt-2 flex-1 leading-7'>
      Hey, I&apos;m <b>Lazar Nikolov</b>. I live in Toronto, Canada, but
      originally I&apos;m from North Macedonia. As a fullstack engineer, I enjoy
      building interesting pet projects from scratch. Of course, just like any
      developer, I end up abandoning them. I&apos;m a super curious fellow and
      I&apos;m always up to learn something new. Aside from learning new things,
      I enjoy live streaming on Twitch and creating courses for egghead.io.
    </p>
  </div>
</Layout>
