---
import Layout from '../layouts/Layout.astro';

import '../styles/index.css';
---

<Layout title='Welcome to Astro.'>
  <div class='h-64 flex flex-col justify-center items-start'>
    <h1 class='text-heading-1'>Hello, I'm Lazar Nikolov.</h1>
    <p class='mt-2'>
      I'm a Developer Advocate and Software Engineer. I like writing code and
      mentoring.
    </p>
  </div>
</Layout>
