---
import { getCollection } from 'astro:content';

import PostsList from '../components/PostsList.astro';
import Layout from '../layouts/Layout.astro';

const posts = await getCollection('blog');
---

<Layout seo={{ title: 'Welcome to Astro.' }}>
  <div class='h-64 flex flex-col justify-center items-start'>
    <h1 class='text-heading-1'>Hello, I'm Lazar Nikolov.</h1>
    <p class='mt-2'>
      I'm a Developer Advocate and Software Engineer. I like writing code and
      mentoring.
    </p>
  </div>
  <div class='flex flex-col'>
    <h2 class='text-2xl font-semibold'>Recent blog posts:</h2>
    <PostsList posts={posts.slice(0, 3)} />
  </div>
</Layout>
